@CHARSET "ISO-8859-1";

#test {	
	margin: 0 auto;	
	position: relative;
	top: 100px;
	background-color:#1e4f8a;
	width:333px;
	height: 352px;
	padding: 58px 76px 0 76px;
	color: #ebebeb;
	font: 12px Arial, Helvetica, sans-serif;	
	background: url(../resources/images/login-box-backg.png) no-repeat left top;	
}


#test form {
	top:20px;
	left: 18%;
	position: relative;
	width: 205px;
	padding: 10px 4px 6px 3px;
	font-size: 16px;
	color: #ebebeb;
}


#test h1 {
	top:10px;
	left: 5%;	
	position: relative;	
}

#test h2{
	top:5px;
	left: 0%;
	position: relative;
	margin: 2px;	
    font: bold 30px "Calibri", Arial;;
    padding: 2px;
	
}

#test h2 span {             	
    color: #c0c0c0;
    margin: 2px;
    padding: 2px;    
    font-size: 0.35em;                                      
}  


#test h3 {
	left: 20%;
	position: relative;
	padding:0;
	margin:0;
	color: #ebebeb;
	font: bold 44px "Calibri", Arial;
}