@CHARSET "ISO-8859-1";

.headerTemplate h1 {   
    margin: 2px;
    padding: 2px;
    color: #191970;
    font-size: 3em;
}   
     
h1 span {          	
    color: #1E90FF;
    margin: 2px;
    padding: 2px;    
    font-size: 0.35em;                                      
} 

.areaText p {
    float:left;
    max-width:500px;
    margin-left:10px;
}

.alignmentRight {
    float:right;
    margin-top:-40px;
    margin-left:10px;
    margin-right:20px; 
      
}

.alignmentRight a:HOVER {
	color: #0000CD;
}

.alignmentRight a {
	color: #4169E1;
}

.alignmentRight span {
	color: #4169E1;
}

.alignmentRight span:HOVER {
	color: #0000CD;
}

